@import "base/reset";

// variables
$green: rgb(25, 202, 144);
$gray-dark: #424242;

.cassete-player {
  padding-top: 40px + 60px;

	svg {
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        margin-top: -40px;
    }
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.recordings {
  background: $green;
  min-height: 200px;
  position: relative;

}

.mdl-layout--fixed-header {
  z-index: 1000;
}
.mdl-layout__header {
  background: white;
  color: black;

  .mdl-navigation__link {
      color: $gray-dark;
  }
}
